*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid red 1px; */
}

body
{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
}

.aside 
{
    background: rgb(0, 0, 0);
    grid-row: 1 / 3;
}

.header
{
    background: #fff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main
{
    background: #1a5e1a;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

.nav-logo
{
    margin: 20px 20px 10px 20px;
}

.olfu-logo
{
    width: 100%;
}

.sub-form
{
    display: flex;
    flex-direction: column;
}

.main-form
{
    display: flex;
    
}

